body {
    background-color:#292929;
    font-family: 'Press Start 2P', cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #A0F392;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #A0F392;
  transition: 0.5s;
  color:black;
}

li p {
    display: block;
  color: white;
  text-align: center;
  left-padding: 14px;
  text-decoration: none;
}

div.text {
    background-color:#333;
    color:#A0F392    
}

::selection {
  color: #292929;
  background: #A0F392;
}

p {
    color:#A0F392;
}

div.content {
    background-color: #333;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 6px;
        
    
}

div.topnav {
    padding-bottom: 30px;
}

div.head {
    float:top;
    background-color:#292929; 
    padding:1px;
}

h1 {
    text-align: center;
    color: #A0F392;
}

a {
color:white;
}

a:focus {
    color:#A0F392
}

li.logo {
    float: right;
    background-color:#A0F392;
}

p.logo {
    margin:14px;
    text-align: left;
    color:#333
}


img.sym{
    
    filter: invert(92%) sepia(9%) saturate(1759%) hue-rotate(52deg) brightness(94%) contrast(103%);
    width: 120px;
    height: 80px;
    
    float: left;    
}


    
    
    
    

a.contact{

    float:left;
    display:block;
    background-color: #333;
    

        
   }
   
   a.contact:hover{
       background-color: #A0F392;
       transition:0.5s;
   }
    
   
   p.contact-text{
       font-size: 30px;
   }

   





.contact:hover .contact-text{
    color:#292929;
    transition:0.5s;    
}

.contact:hover .sym{
    filter: invert(10%) sepia(1%) saturate(0%) hue-rotate(147deg) brightness(99%) contrast(85%);
    transition: 0.5s;
    
}

.texts{
    float:left;
    padding-left:20px;
    padding-right:5px;
}


